[submodule "aur-pkgs/coolercontrol"]
	path = aur-pkgs/coolercontrol
	url = https://aur.archlinux.org/coolercontrol
[submodule "aur-pkgs/it87-dkms-git"]
	path = aur-pkgs/it87-dkms-git
	url = https://aur.archlinux.org/it87-dkms-git
[submodule "aur-pkgs/amdgpu-clocks-git"]
	path = aur-pkgs/amdgpu-clocks-git
	url = https://aur.archlinux.org/amdgpu-clocks-git
[submodule "aur-pkgs/ryzen_smu-dkms-git"]
	path = aur-pkgs/ryzen_smu-dkms-git
	url = https://aur.archlinux.org/ryzen_smu-dkms-git
[submodule "aur-pkgs/ryzen_monitor"]
	path = aur-pkgs/ryzen_monitor
	url = https://aur.archlinux.org/ryzen_monitor
