[submodule "aur-pkgs/coolercontrol"]
	path = aur-pkgs/coolercontrol
	url = https://aur.archlinux.org/coolercontrol
[submodule "aur-pkgs/corectrl-git"]
	path = aur-pkgs/corectrl-git
	url = https://aur.archlinux.org/corectrl-git
