[submodule "aur-pkgs/lact-git"]
	path = aur-pkgs/lact-git
	url = https://aur.archlinux.org/lact-git
[submodule "aur-pkgs/coolercontrol"]
	path = aur-pkgs/coolercontrol
	url = https://aur.archlinux.org/coolercontrol
